

.Gallery_content {
    margin: 0;
    padding: 2.5em;
    background-color: black;
    color: white;


}

.content_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-weight: 200;
    font-style: normal;

}

.content_top h1 {
    margin-bottom: 1em;
    align-self: self-start;
    color: gray;
}

.content_top p {
    font-weight: 200;
    font-style: normal;

}

.content_bottom {
    color: gray;
    
}