
.Home_content {
    background-color: #252323 ;
    width: 100%;
    height: 100%;
    color: white ;
    padding: 2.5em 2.5em;
    border-bottom: black 0.125rem solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content_left {
    /* background-color: ; */
    width: 50%;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

p {
    font-size: x-large;
    font-weight: 600;
    padding: 0.125em 0.125em;

}


span {
    color: #0081F7;
}

.content_left_bottom {
    margin-top: 2em;

}


.content_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    padding: 2em 2em;

}

.meImage {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ===== @ Media ===== */

@media (max-width:700px ) {
    .Home_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .content_right {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    img {
        width: 50dvh;
        height: 50dvh;
        border-radius: 50%;
        padding: 2em 2em;
    }
}